.hidden-xs .about-us-text {
	font-size: 14px;
	line-height: 40px;
	color: #666666;
	padding: 0 150px;
	text-indent: 2em;
}

.hidden-xs .business .about-us-connection .about-us-connection-item {
	width: 83%;
	margin: 0 auto;
	box-sizing: border-box;
	padding: 8px;
	color: #fff;
	font-size: 18px;
	line-height: 50px;
}

.us-logo {
	margin-bottom: 50px;
}

.hidden-xs .business .about-us-connection .about-us-connection-item img {
	height: 50px;
	width: 50px;
	margin-right: 30px;
}

.hidden-xs #container-pc {
	width: 90%;
	height: 440px;
	position: relative;
	background: rgb(252, 249, 242);
}

.hidden-xs .about-us-info {
	width: 73%;
	padding: 16px 0;
	line-height: 25px;
}

.hidden-xs .plaque img {
	margin-right: 10px;
}


/* pc  */
.visible-xs-block .about-us-text {
	font-size: 14px;
	line-height: 30px;
	text-indent: 2em;
	color: #666666;
	margin-bottom: 20px;
}

.visible-xs-block .business .about-us-connection .about-us-logo {
	padding: 20px;
	text-align: center;
}

.visible-xs-block .business .about-us-connection .about-us-logo img {
	width: 80px;
	height: 80px;
}

.visible-xs-block .business .about-us-connection .about-us-connection-info {
	line-height: 30px;
	margin-bottom: 20px;
}

.visible-xs-block .business .about-us-connection .about-us-connection-info img {
	height: 30px;
	width: 30px;
	margin-right: 20px;
}

.visible-xs-block .business .about-us-connection .about-us-connection-info img {
	height: 30px;
	width: 30px;
	margin-right: 20px;
}

.visible-xs-block .business .about-us-connection .about-us-connection-info .text-muted {
	color: #fff;
}

.visible-xs-block #container-mobile {
	width: 95%;
	height: 200px;
	margin: 0 auto;
	position: relative;
	background: rgb(252, 249, 242);
}

.visible-xs-block .about-us-right {
	width: 60%;
}

.visible-xs-block .about-us-info {
	width: 70%;
	text-align: left;
}

.visible-xs-block .plaque img {
	width: 80%;
	margin-bottom: 10px;
}

/* 移动 */