* {
	margin: 0;
	padding: 0;
}


.position-relative {
	position: relative !important;
}

.bg-black-ash {
	background: #0c0d0d !important;
}

.bg-black {
	background: #000 !important;
}


.text-muted {
	color: #666666;
	line-height: 30px;
}

.color-666 {
	color: #666666 !important;
}

a {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

.margin-bottom100 {
	margin-bottom: 100px;
}

a:focus {
	outline: none !important;
	background: none !important;
	text-decoration: none;
}

.margin-top-0 {
	margin-top: 0 !important;
}

.padding-40 {
	padding-top: 40px;
	padding-bottom: 40px;
}

.padding-50 {
	padding: 50px;
	box-sizing: border-box;
}

.height-500 {
	height: 500px !important;
}

.height-800 {
	height: 800px !important;
}

.height-320 {
	height: 320px !important;
}

body {
	background: #0C0D0D;
}

/* 公共样式 */
.hidden-xs .top-jumbotron .jumbotron {
	height: 400px;
	box-sizing: border-box;
	padding-top: 140px;
	background-color: #000;
	background-image: url(../imgs/bg_title.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	color: #585959;
	margin-bottom: 0;
}

.hidden-xs .top-jumbotron .jumbotron h1 {
	color: #fff;
	vertical-align: top;
}

.hidden-xs .top-jumbotron .jumbotron .jumbotron-titile-icon {
	margin-top: -80px;
	transform: rotate(45deg);
}

.hidden-xs .top-jumbotron .jumbotron p {
	font-size: 14px;
	width: 35%;
	line-height: 30px;
	color: #666;
}

/* 头部巨幕 */
.hidden-xs .products {
	padding: 20px 0;
	background-color: #0C0D0D;
	position: relative;
}

.hidden-xs .products .container>p {
	font-size: 16px;
}

@media only screen and (max-width: 640px) {
	.hidden-xs .products .container>h2 {
		font-size: 20px;
	}

	.hidden-xs .products .container>p {
		font-size: 12px;
	}
}

.hidden-xs .product {
	margin-top: 40px;
}

.hidden-xs .products .product .product-item h3 {
	font-size: 22px;
	margin-bottom: 30px;
	color: #fff;
}

.hidden-xs .products .product .product-item p {
	line-height: 24px;
	font-size: 14px;
	text-align: left;
}

.hidden-xs .products .product .product-item {
	float: left;
	box-sizing: border-box;
	height: 430px;
	padding: 36px;
	background-color: #191A1A;
	text-align: center;
	border-right: 20px solid #0C0D0D;
}

.hidden-xs .product .product-item:last-child {
	border-right: none;
}

.hidden-xs .products .product .product-item-img {
	height: 185px;
	width: 210px;
	display: inline-block;
	position: relative;
	background-image: url(../imgs/icon_bg.png);
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
}

.hidden-xs .products .product-item-img img {
	position: absolute;
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
	height: 90px;
}

.hidden-xs .products .product-item-3 {
	height: 200px;
	box-sizing: border-box;
	text-align: center;
	background-image: linear-gradient(#0C0D0D, #181A1A);
	padding: 10px;
	margin-top: 20px;
}

.hidden-xs .products .product-item-3 .product-item-img {
	height: 70px;
	width: 120px;
	background-image: url(../imgs/icon_bg2.png);
}

.hidden-xs .products .product-item-3 .product-item-img img {
	height: 40px;
	width: 40px;
}

.hidden-xs .products .product-item-3 h3 {
	color: #fff;
	font-weight: 900;
	margin-top: 10px;
	line-height: 44px;
}

.hidden-xs .body-bg1,
.hidden-xs .body-bg2,
.hidden-xs .body-bg3,
.hidden-xs .body-bg4 {
	position: absolute;
}

.hidden-xs .products .body-bg1 {
	left: 0;
	bottom: -100px;
	text-align: left;
}

.hidden-xs .products .body-bg1 img {
	width: 100%;
	height: 585px;
}

.hidden-xs .products .body-bg2 {
	right: 0;
	top: -150px;
	text-align: right;
}

.hidden-xs .products .body-bg2 img {
	width: 300px;
	height: 300px;
}

/* product */
.hidden-xs .business .business-detail {
	z-index: 5;
}

.hidden-xs .business .business-introduction {
	padding-right: 0;
	padding-left: 0;
}

.hidden-xs .business .business-introduction .business-title {
	font-size: 30px;
	color: #fff;
	margin-bottom: 20px;
}

.hidden-xs .business .business-introduction .business-label {
	margin-bottom: 80px;
}

.hidden-xs .business .business-right {
	height: 100%;
	background: #0C0C0C;
	padding-left: 80px;
}

.hidden-xs .business .business-right,
.hidden-xs .business .business-introduction {
	padding-top: 80px;
	padding-bottom: 80px;
	height: 100%;
}

.hidden-xs .business .business-right .text-muted {
	padding: 130px;
}

.hidden-xs .business .media {
	box-sizing: border-box;
	padding: 20px;
	background: #CAA971;
	color: #fff;
	height: 105px;
}

.hidden-xs .business .business-bar-item {
	background: #181A1A;
}

.hidden-xs .business .business-bar-item:not(:first-child) {
	margin-top: 0;
}

.hidden-xs .business .business-introduction .active {
	background: #CAA971 !important;
}

.hidden-xs .business .media .media-left img {
	width: 65px;
	height: 65px;
}

.hidden-xs .business .media-body {
	box-sizing: border-box;
	padding-left: 20px;
}

.hidden-xs .business .media-body p {
	margin-bottom: 0;
	font-size: 16px;
}

.hidden-xs .business .media-heading {
	font-size: 20px;
	margin-bottom: 21px;
}

.hidden-xs .business .media-icon-arrow {
	position: absolute;
	right: 10px;
	top: 50%;
	transform: translateY(-50%);
}

.hidden-xs .business .business-introduction-text {
	box-sizing: border-box;
	padding: 50px;
	line-height: 30px;
}

.hidden-xs .business-right-bg {
	position: absolute;
	right: 0;
	top: 0;
	height: 100%;
	width: 50%;
	z-index: 0;
	background: #0C0C0C;
}

/* business */
.hidden-xs .process .process-image {
	height: 100%;
	width: 100%;
}

/* process */
.hidden-xs .title-text-muted {
	margin-top: 20px;
}

.hidden-xs .top {
	position: absolute;
	top: 0;
	width: 100%;
	height: 70px;
	z-index: 1;
	background: #0C0D0D;
}

.hidden-xs .top .navbar-brand {
	padding: 20px 15px;
}

.hidden-xs .top .navbar-brand img {
	width: 80%;
}

@media only screen and (max-width: 380px) {
	.hidden-xs .top .navbar-brand {
		margin-top: -64px;
	}
}

.hidden-xs .navbar-collapse .navbar-nav {
	margin: 7.5px -15px;
}

.hidden-xs .navbar-nav li a {
	color: #3E4040;
	font-size: 16px;
}

.hidden-xs .navbar-nav .active a {
	color: white;
}

.hidden-xs .nav>li {
	line-height: 50px;
}

@media only screen and (max-width: 768px) {
	.hidden-xs .nav>li {
		border-top: 1px solid #0D3048;
	}
}

.hidden-xs .navbar-nav li a:hover {
	background: none;
	color: rgba(255, 255, 255, 0.8);
}

.hidden-xs .navbar-collapse .nav-language {
	float: right;
}

.hidden-xs .navbar-collapse .nav-language .active {
	color: #fff;
}

.hidden-xs #bs-example-navbar-collapse-1 {
	margin-top: 4px;
	line-height: 70px;
}

.hidden-xs .login-btn {
	display: inline-block !important;
	border: 1px solid white;
	padding: 5px 25px !important;
}

.hidden-xs .login-btn:hover {
	color: white !important;
	background-color: #357AEF !important;
	border-color: #357AEF;
}

.hidden-xs .navbar-toggle span {
	color: white;
}

.hidden-xs .top .dropdown:hover .dropdown-menu {
	display: block;
}

.hidden-xs .top .dropdown-menu {
	background: #CAA971;
	padding: 0;
}

.hidden-xs .top .dropdown-menu i {
	position: absolute;
	top: -27px;
	left: 26px;
	color: white;
	color: #CAA971;
}

.hidden-xs .top .dropdown-menu li a {
	color: black;
	line-height: 50px;
	color: #3E4040;
	font-size: 14px;
}

.hidden-xs .top .dropdown-menu li:hover {
	background: #C29E64;
}

.hidden-xs .top .dropdown-menu li a:hover {
	color: #fff;
}

.hidden-xs .top .dropdown-menu {
	min-width: 0;
	border-radius: 0;
}

.hidden-xs .navbar-collapse .panel {
	background: none;
}

.hidden-xs .navbar-collapse .panel .panel-body {
	padding: 0;
	padding-left: 30px;
	border: 0 !important;
}

.hidden-xs .navbar-collapse .panel-group {
	margin: 0;
}

.hidden-xs .navbar-collapse .panel .panel-heading a:hover {
	text-decoration: none;
}

.hidden-xs .bottom {
	padding: 20px 0;
	background-color: #0c0d0d;
	color: rgba(255, 255, 255, 0.6);
}

.hidden-xs .footer-1 img {
	width: 60px;
	margin-right: 1em;
}

.hidden-xs .bottom hr {
	border-color: #0c0d0d;
}

.hidden-xs .footer-2 h4 {
	color: white;
	margin-bottom: 20px;
}

.hidden-xs .footer-2 ul,
.hidden-xs .bottom .visible-sm-block ul {
	list-style: none;
}

.hidden-xs .footer-2 ul li,
.hidden-xs .bottom .visible-sm-block ul li {
	margin-top: 10px;
	line-height: 40px;
}

.hidden-xs .footer-2 ul li a {
	color: #666;
}

.hidden-xs .bottom .visible-sm-block ul li img,
.hidden-xs .footer-2 ul li img {
	width: 103px;
}

.hidden-xs .footer-2 ul li a:hover {
	color: rgba(255, 255, 255, 0.9);
	text-decoration: none;
}

.hidden-xs .footer-2 .col-md-3 .col-md-6 {
	padding-left: 0;
}

.hidden-xs .bottom .visible-sm-block {
	text-indent: 2em;
}

.hidden-xs .bottom .visible-sm-block a {
	padding-left: 2em;
}

.hidden-xs .bottom .gototop {
	display: block;
	width: 60px;
	height: 60px;
	position: fixed;
	right: 0;
	bottom: 0;
	z-index: 1001;
}

.hidden-xs .contact {
	padding: 20px 0;
	vertical-align: middle;
}

.hidden-xs .contact-item {
	margin-bottom: 10px;
}

.hidden-xs .contact-icon,
.hidden-xs .contact-information {
	display: inline-block;
}

.hidden-xs .contact .contact-icon img {
	width: 30px;
	height: 30px;
}

.hidden-xs .contact .contact-information {
	font-size: 20px;
	color: #fff;
	font-weight: 900;
	padding-left: 10px;
}

/* 底部 */