.hidden-xs .new-detail {
  padding: 120px;
}

.hidden-xs .new-detail h2 {
  width: 640px;
  margin: 0 auto;
  line-height: 50px;
  color: #fff;
  font-size: 40px;
}

.hidden-xs .new-detail .new-detail-time {
  width: 25%;
  margin-bottom: 40px;
  color: #666;
}

.hidden-xs .new-detail .new-detail-time img {
  margin-right: 14px;
}

.hidden-xs .new-detail .new-detail-content {
  width: 850px;
  margin: 0 auto;
}

.hidden-xs .new-detail .new-detail-content .new-detail-text {

  text-align: left !important;
  font-size: 14px;
  line-height: 40px;
  color: #666;
  text-indent: 2em
}

.hidden-xs .new-detail .new-detail-content .new-detail-text img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  width: 640px;
  margin-bottom: 100px
}




.visible-xs-block .new-detail {
  padding: 20px;
}

.visible-xs-block .new-detail h2 {
  color: #fff;
  font-size: 24px;
  line-height: 36px;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
}

.visible-xs-block .new-detail .new-detail-time {
  width: 90%;
}

.visible-xs-block .new-detail .new-detail-time img {
  margin-right: 14px;

}

.visible-xs-block .new-detail .new-detail-content img {
  width: 100%;
  height: 240px;
  margin-left: -2em;
}


.visible-xs-block .new-detail .new-detail-content .new-detail-text {
  font-size: 14px;
  line-height: 30px;
  color: #666;
  text-indent: 2em;
}

.visible-xs-block .new-detail .new-detail-content .new-detail-text p {
  font-size: 14px;
  line-height: 40px;
  color: #666;
  /* padding: 0 150px; */
}

.visible-xs-block .new-detail .new-detail-content .new-detail-text img {
  position: relative;
  left: 50%;
  transform: translateX(-50%);
  margin-bottom: 40px;
}