.hidden-xs .new-list {
  padding-bottom: 80px;
}

.hidden-xs .new-list .media {
  padding: 29px;
  background: #131414;
}

.hidden-xs .new-list .col-sm-6 {
  margin-bottom: 15px;
}

.hidden-xs .new-list .media .media-left .media-object {
  width: 240px;
  height: 180px;
}

.hidden-xs .new-list .media .media-body .media-heading {
  color: #fff;

  line-height: 30px;
  margin-top: -6px;
}

.hidden-xs .new-list .media .media-body .text-muted {
  line-height: 24px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 3;
  overflow: hidden;
}

.hidden-xs .new-list .media .media-body {
  padding-left: 10px;
  box-sizing: border-box;
  color: #666;
}

.hidden-xs .new-list .media .media-body .media-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}

/* pc */

.visible-xs-block .new-list .media {
  padding: 15px;
  background: #131414;
}

.visible-xs-block .new-list .col-sm-12 {
  margin-bottom: 15px;
}

.visible-xs-block .new-list .media .media-left .media-object {
  width: 120px;
  height: 100px;
}

.visible-xs-block .new-list .media .media-body .media-heading {
  color: #fff;

  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 1;
  overflow: hidden;
}

.visible-xs-block .new-list .media .media-body .text-muted {
  line-height: 22px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}

.visible-xs-block .new-list .media .media-body {
  padding-left: 10px;
  box-sizing: border-box;
  color: #666;
}

.visible-xs-block .new-list .media .media-body .media-bottom {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  padding-left: 10px;
  box-sizing: border-box;
}